a:link, a:visited{
    text-decoration: none;
}

a.settingLink {
	display:block;
	color: black; 
	width: 100%
}

#childrenMap {
    width: 275px;
    height: 355px;
    /*float:center;*/
	margin: 10px;
}

#settingsBody {
	/*text-align: center;*/
	padding-left:0px;
	padding-right:0px;
}

#childSettings {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.settingDropDown {
	display: none;
}

.settingItem {
	width: 100%;
	list-style: none; 
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
